<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/escritoriovirtualalabastrum</property>
		<property name="hibernate.connection.username">ev</property>
		<property name="hibernate.connection.password">123qwe</property>
		<property name="show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.generate_statistics">false</property>
      
		<property name="hibernate.c3p0.min_size">100</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.timeout">60</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">60</property>
      
      	<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Adesao" />
        <mapping class="br.com.alabastrum.escritoriovirtual.modelo.BoasVindas" />
        <mapping class="br.com.alabastrum.escritoriovirtual.modelo.Bonificacao" />
        <mapping class="br.com.alabastrum.escritoriovirtual.modelo.Caixa" />
      	<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Categoria" />
      	<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Comprador" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Configuracao" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.DadosFake" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Estoque" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Franquia" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.HistoricoAcesso" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.InformacoesFixasUsuario" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ItemPedido" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ItemPedidoFranquia" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.KitAdesao" />
      	<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ParametroAtividade" />
      	<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ParametroDivisaoLucro" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ParametroIngresso" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ParametroUnilevel" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ParametroVip" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Pedido" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.PedidoFranquia" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Pontuacao" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Posicao" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Produto" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Qualificacao" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.ReceitaDivisaoLucro" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.SolicitacaoSaque" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Transferencia" />
		<mapping class="br.com.alabastrum.escritoriovirtual.modelo.Usuario" />

</session-factory>
</hibernate-configuration>
